body {
    display: flex;
    justify-content: left;
    
    
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.music-widget {
   
    background: white;
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

